@{
    ViewData["Title"] = "Information";
}

@model WebNotes.Entity.Note

<style type="text/css">
    .comment {
        background: linear-gradient(#FFECD2, #FDB8A1) no-repeat;
        height: 250px;
        margin-left: auto;
        margin-right: auto;
        width: 500px;
    }

    .comment textarea {
        background: transparent;
        border: 4px double black;
        height: 250px;
        outline: none;
        padding: 10px;
        resize: none;
        width: 500px;
    }

    p { padding: 10px; }

    button.new {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        background: -moz-linear-gradient(#FFECD2, #FDB8A1);
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFECD2), to(#FDB8A1));
        border: 1px solid #666;
        border-radius: 5px;
        color: #333;
        padding: 3px 20px;
    }

    ::-webkit-scrollbar { width: 10px; }

    ::-webkit-scrollbar-track { background: linear-gradient(#FFECD2, #FDB8A1) no-repeat; }

    ::-webkit-scrollbar-thumb { background: #888; }

    ::-webkit-scrollbar-thumb:hover { background: #555; }

    .container-buttons {
        display: flex;
        justify-content: space-around;
    }
</style>

<h2 align="center">@ViewData["Title"]</h2>
<h4 align="center">Note "@Model.Name"</h4>
<body>
<form method="post" asp-route-id="@Model.Id"asp-controller="Note" asp-action="UpdateNote">
    <div class="comment">
        <textarea class="comment" maxlength="1000" name="Text">@Model.Text</textarea>
    </div>
    <p align="center">
        <button class="new" name="Name" type="submit">Save note</button>
    </p>
</form>
<form method="post" asp-route-id="@Model.Id"asp-controller="Note" asp-action="RemoveNote">
    <p align="center">
        <button class="new">Remove note</button>
    </p>
</form>
</body>